<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de multiplicar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4 text-primary h1">Tabla de multiplicar</h1>
        <form class="mt-4 mb-4" action="/tabla" method="post">
            <div class="form-group">
                <input type="text" id="numero" name="numero" class="form-control" required="true" value=<%=numero%>>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
            <button type="button" class="btn btn-secondary ml-2" onclick="limpiarTabla()">Limpiar</button>
        </form>
        <% if(numero!=null){ %>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Número</th>
                    <th>Resultado</th>
                </tr>
            </thead>
            <tbody>
                <% for(con=0; con<=10; ++con){ %>
                    <tr>
                        <td><%=numero%> x <%=con%></td>
                        <td><%=numero*con%></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% } %>
    </div>
    <script>
        function limpiarTabla() {
            document.getElementById("numero").value = "";
            document.getElementsByTagName("tbody")[0].innerHTML = "";
        }
    </script>
</body>
</html>
